{% extends 'base.html' %}

{% block content %}
{% if item %}
<form method="post" action="{% url 'edit_item' item.id %}">
    {% csrf_token %}
    {{form.as_p}}
    {% if not is_store_manager %}
        {{approval_form.as_p}}
    {% endif %}
    {% if is_store_manager or item.status == 2 %}
        <input type="submit" name="" value="save">
    {% endif %}
    {% if not is_store_manager or item.status == 1 %}
        <p>Current item is pending for approval</p>
    {% endif %}
</form>
{% else %}
<form method="post" action="{% url 'add_item' %}">
    {% csrf_token %}
    {{form.as_p}}
    {% if not is_store_manager %}
        {{approval_form.as_p}}
    {% endif %}
    <input type="submit" name="" value="save">
</form>
{% endif %}

{% endblock %}